# Virtual Environment
venv/
.venv/
env/
__pycache__/
*.pyc

# Data & Database
data
data/
chroma_db/
chroma_db_repair_sandbox/
faiss_index/
runtime/

# Environment Variables
.env

# IDs and local IDE config
.idea/
.vscode/

# Streamlit
.streamlit/

# OS specific
.DS_Store
Thumbs.db
